<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Entry</title>
    <style>
        .item {
            margin: 20px 10px 20px 10px;
        }

        input {
            width: 200px;
            height: 30px;
            font-size: 16px;
        }

        label {
            font-size: 16px;
            display: inline-block;
            width: 150px;
        }
    </style>
</head>
<body>
<p>
    In order to avoid CORS you need to create a new Chrome shortcut on your desktop. Close all open chrome threads and open the new one.
</p>
<p>
    "C:\Program Files\Google\Chrome\Application\chrome.exe" --disable-web-security --disable-gpu --user-data-dir=~/chromeTemp
</p>
<div id="container" onchange="fieldChangeHandler(event)">
    <div class="item">
        <label class="labelStyle">Customer Number</label>
        <input id="CUSTNAME">
    </div>
    <div class="item">
        <label>Customer Name</label>
        <input id="CUSTDES">
    </div>
    <div class="item">
        <label>Status</label>
        <input id="STATDES">
        <button onClick="chooseHandler('STATDES')">Get values</button>
    </div>
    <div class="item">
        <label>Assigned to</label>
        <input id="OWNERLOGIN">
    </div>
    <div class="item">
        <label>Date Opened</label>
        <input id="CREATEDDATE">
    </div>
</div>
<div>
    <button onclick="saveHandler()">Save</button>
    <p>Sub forms</p>
    <button onclick="startCustpersonnel()">CustPersonnel</button>
<div id="subform" onchange="fieldChangeHandlerSub(event)">
    <p>Contacts</p>
    <table id="tbl_custpersonnel">
        <thead>
        <tr><th>Name</th><th>Phone</th></tr>
        </thead>
        <tbody>
             <tr><td><input id="NAME"></td><td><input id="PHONENUM"></td></tr>
        </tbody>
    </table>
    <button onclick="saveHandlerSub()">Save Row</button>
</div>
<script src="https://cdn.priority-software.com/upgrades/var/api/head/priorityapp.nocache.js"></script>
<script>
    var myForm;

    function updateFields(result) {
        if (result["CUSTOMERS"]) {
            var fields = result["CUSTOMERS"][1];
            for (var fieldName in fields) {
                var el = document.getElementById(fieldName);
                if(el) el.value = fields[fieldName];
            }
        }
    }
    function showMessage(message) {
        if (message.type != "warning") {
            alert(message.message);
        } else {
            if (confirm(message.message)) {
                message.form.warningConfirm(1);
            } else {
                message.form.warningConfirm(0);
            }
        }
    }
    function fieldChangeHandler(event) {
        myForm.fieldUpdate(event.srcElement.id, event.target.value);
    }
    function fieldChangeHandlerSub(event) {
        console.log('sub form field change');
        custpersonnel.fieldUpdate(event.srcElement.id, event.target.value);
    }
    function priorityReady() {
        login({
            username: 'API', password: '1234567',
            url: 'https://prioritydev.simplyct.co.il', tabulaini: 'tabula.ini',
            language: '2', company: 'demo', appname: 'Customers'})
                .then(function() {
                    return formStart('CUSTOMERS', showMessage, updateFields);
                }).then(function(form) {
                    myForm = form;
                });
                }
    function saveHandler() {
        myForm.saveRow(0);
    }
    function saveHandlerSub() {
        custpersonnel.saveRow(0);
        custpersonnel.newRow();
        // add row to the table
        // Find a <table> element with id="myTable":
        var tbodyRef  = document.getElementById("tbl_custpersonnel").getElementsByTagName('tbody')[0];

// Create an empty <tr> element and add it to the 1st position of the table:
        var row = tbodyRef.insertRow(0);

// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        cell1.innerHTML = '<input id="NAME"></td>';
        cell2.innerHTML = '<input id="PHONENUM"></td>';


    }
    async function startCustpersonnel(){
       custpersonnel = await  myForm.startSubForm('CUSTPERSONNEL',null,null);
    }
    function chooseHandler(targetField, someObj) {
        var targetValue = document.getElementById(targetField).value;
        myForm.choose(targetField, targetValue).then(function(result) {
            console.log(result);
        });
    }
</script>
</body>
</html>