extends layout

block content
  h1= title
  p Welcome to #{title}
  p version #{version}
  p Public IP: #{publicIP}
  p use POST /accounts to get the כרטסת לקוח
  p use POST /printAinvoice to print sales invoice
  p use POST /printCinvoice to Multi-Shipment invoices
  p use POST /printSalesOrder to print sales order
  p use POST /printPriceQuote to print Price quotation
  p use POST /closeAinvoices to close sales-invoice
  p use POST /closeTinvoices to close receipt
  p use POST /closeEinvoices to close over the counter invoice
  p use POST /ws/cargo listen to Cargo Shipper webhook
  p use POST /agent_debt to get Agent debt



