extends layout

block content
  h1= title
  p Welcome to #{title}
  p version #{version}
  p use POST /accounts to get the כרטסת לקוח
  p use POST /printAinvoice to print sales invoice
  p use POST /closeAinvoices to close sales-invoice
  p use POST /closeTinvoices to close receipt
  p use POST /printSalesOrder to print sales order


