packages:
  yum:
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    cups-libs: []
    libXScrnSaver: []
    libXrandr: []
    alsa-lib: []
    atk: []
    gtk3: []
    xorg-x11-fonts-Type1: []
    xorg-x11-fonts-misc: []
    ipa-gothic-fonts: []
    libX11: []

    dbus-glib: []

commands:
  01_install_chrome:
    command: |
      wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm -O /tmp/chrome.rpm
      sudo yum install -y /tmp/chrome.rpm
